<div class="content about-page">
  <div class="about">
    <div class="about-text">
      <h1>Hi, I'm Tereza!</h1>
      <p>{{{aboutText}}}</p>
      <div class="icon-links">
        <a href="https://se.linkedin.com/in/tereza-dokic" target="_blank" class="tooltip" data-title="Visit my Linked In" >
          <img src="/content/icons/linkedin.svg" alt="LinkedIn" >
        </a>
        <a href= "mailto:terezadjokic@yahoo.com" class="tooltip" data-title="Send an Email">
          <img src="/content/icons/email.svg" alt="Contact">
        </a>
        <a href= "https://github.com/Terinax3"  target="_blank" class="tooltip" data-title="Visit my GitHub">
          <img src="/content/icons/github.svg" alt="GitHub">
        </a>
      </div>
    </div>
    <div class="about-image">
      <img src="/content/personal/profile.jpg" alt="About Image">
    </div>
  </div>
</div>
