<div class="video-background">
  <video id="background-video" autoplay loop muted>
    <source src="/content/personal/video.mp4" type="video/mp4">
  </video>
  <div class="overlay">
    <img class="home-logo" src="/content/personal/dbt_logo.png" alt="Logo">
    <div class="bttn-container">
      <button class="home-bttn" onclick="location.href='/portfolio'">Portfolio</button>
      <button class="home-bttn" onclick="location.href='/about'">About</button>
    </div>
  </div>
</div>
