<div class="content portfolio-page">
    <div class="portfolio-container">
        <!-- Left Side: Grid Links -->
       <div class="portfolio-grid">
            {{#each portfolioItems}}
                <a href="{{this.link}}">
                    <img src="{{this.image}}" alt="{{this.title}}" oncontextmenu="return false;">
                </a>
            {{/each}}
        </div>

        <!-- Right Side: List Links -->
        {{> portfolio-list }}
    </div>
</div>